/* Universal selectors */
* {
    margin: 0;
    padding: 0;
}

/*Element selectors */
body{
    position: relative;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font size: 20px;
    background-color: #fefbd8;
    color: #6b5b95;


}

h1{
    font-size: 200%;
    margin: 20px; 
       
}

figure{
    padding: 20px;
}
#coloured-box{
    background-color: aquamarine;
}

li{
    display: inline;
    float: right;
    padding: 10px;
    color: #6b5b95;
    font-weight: bold;
}

header, footer{
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: aquamarine;
}

header{
    position:fixed;
    top: 0px;
    border-bottom: 8px solid #6b5b95;

}
 footer{
    position:fixed;
    bottom: 0px;
    margin-top:0px ;
    border-top: 8px solid #6b5b95;
 }

 .text-center{
    text-align: center;
 }

 .img-center{
    display: block;
    margin: 40px auto;
    height: 300px;
    border: #6b5b95 groove 10px;

    
 }

 section{
    margin-bottom: 0;
    padding: 20px 20px 20px 20px;
    border-top: 3px solid #6b5b95 ;
    background-color: rgb(185, 183, 51) ;
    position: fixed;
    top: 725px;
    width: 100%;

 }

 /* center the form on the page */
form{
    margin: 0 auto;
    width: 800px;
    height: 70px;
    padding: 10px;
    border: 5px solid #6b5b95;
    border-radius: 20px;
}

label{
    display: inline-block;
    width: 70px;
}

input, textarea {
   box-sizing: border-box;
   width: 300px;
   border: 1px solid #6b5b95;
}

textarea{
    vertical-align: top;
    height: 30px;
}

.button-style{
    border: 0;
    line-height: 2;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.comments{
    text-align: center;
    font-size:25px;
    font-family:fantasy;
    font-style:inherit;
    font-stretch: expanded;
}